<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pig Latin Translator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- If you like you can remove the link to the bootstrap stylesheet below -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- It turns out that there are some http bugs in angular so I'll use ajax via jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="translator.js"></script>
</head>
<body style="min-width:450px;">
  <!-- Jumbotron -->  
  <div class="jumbotron text-center" style="/*
					    background-repeat: no-repeat; 
					    background-size: 100% auto;
					    background-position: 0% 25%; 
					    background-image: url(./metal_background.jpg);
					    */">
    <h1 style="/*color: white;*/">Pig Latin Chat Room</h1>
    <p></p> 
  </div>


<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Yes or No?</h4>
      </div>
      <div class="modal-body">
        <p>It's your call...</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>





    
  <div ng-app='app' ng-controller='mainCtrl'>
    <div class="container">

      <div id="message-list" style="padding-bottom: 20px;">
	<div class="row">
	  <div class="col-xs-8 col-xs-offset-2 well pre-scrollable">
	    <div class="media" ng-repeat="message in messages" >
	      <div class="media-body">
		<h4 class="media-heading">{{message.name}}</h4>
		<p>{{message}}</p>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-8 col-xs-offset-2" style="display:block; text-align: center;">
	    <button ng-click="refresh()" type="submit" class="btn btn-outline btn-xl page-scroll" style="width:70%; text-align: center;">Refresh Message Board</button>
	  </div>
	</div>
      </div>
      
      <div id="input-field" class="row" style="margin-top: 50px;">
	<div class="col-xs-8 col-xs-offset-2">
	  <form ng-submit="translate(input)">
	    <div class="col-md-10 col-xs-8" style="padding-right:5px">
	      <textarea id="input_text" class="form-control" rows="5" placeholder="Enter Text Here" ng-model="input.text"></textarea>
	    </div>
	    <div class="col-md-2 col-xs-4" style="padding-left: 0; height:115px; max-width:107px;">
	      <button type="submit" class="btn btn-outline btn-xl page-scroll" style="height:100%; width:100%;"><p style="
    word-break: normal;
    white-space: normal;">Translate & Send</p></button>
	    </div>
	  </form>
	</div>
      </div>
    </div>
  </div>
</body>
</html>
